*,
::before,
::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  animation: alternate-reverse;
  align-self: center;
}
body {
  margin: 0;
}
.file__1 {
  background-color: #299988;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu__nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 0.5rem;
  align-items: flex-end;
}
.file__2 {
  background-color: #44a080;
}
.button__less {
  border-radius: 50%;
}
.summary {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
main {
  background-color: #ffc844;
  gap: 10px;
}
.button__add {
  background-color: #299988;
  color: white;
}
